$primary: #BE5109;
$secondary: #F1AB10;
$light: #d7bf8e;
$dark: #3d1e0c;
$success: #8A7992;

$font-family-sans-serif: 'Source Sans Pro', sans-serif !default;

$font-family-monospace: 'Merriweather', serif !default;