$primary: #BE5109;
$secondary: #F1AB10;
$light: #DDB76A;
$dark: #3D1E0C;
$success: #8A7992;

$font-family-sans-serif: 'Source Sans Pro', sans-serif !default;

$font-family-monospace: 'Merriweather', serif !default;