@import 'variables';
@import 'utilities';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

/* Wrapper Styling */
.wrapper {
	position: relative;
}

.wrapper-background {
    position: absolute;
    width: 100%;
    z-index: 0;
}

.wrapper-content {
	position: relative;
	z-index: 1;
	
}

/* Background Image Styling */
body,
html {
	height: 100%;
	margin: 0;
}

.bg {
    background-image: url("../images/autumn_road_l.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

body {
    background-color: black;
}

/* Different Animations */
.fade-in {
    animation: fadein 1s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.slow-fade {
    animation: slowfade 2s;
}

@keyframes slowfade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.slow-fade85 {
    animation: slowfade 2s;
}

@keyframes slowfade {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.85;
    }
}

.zoom {
	transform: scale(1.1);
    animation: zoom 2s;
}

@keyframes zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}