@import 'variables';
@import 'utilities';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

/* Nackademin page specific stylesheet */


/* Add scss variables */

/* Mixins */
@mixin background {
    z-index: -1;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

/* Animations */
.zoom {
	transform: scale(1.1);
    animation: zoom 2s;
    animation-fill-mode: forwards;
}

@keyframes zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

.fade-in {
    animation: fadein 1s;
    animation-fill-mode: forwards;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* My own link unstyled helper class */
.link-unstyled {
    &,
    &:visited,
    &:hover,
    &:active,
    &:focus,
    &:active:hover {
      font-style: inherit;
      color: inherit;
      background-color: transparent;
      font-size: inherit;
      text-decoration: none;
      font-variant: inherit;
      font-weight: inherit;
      line-height: inherit;
      font-family: inherit;
      border-radius: inherit;
      border: inherit;
      outline: inherit;
      box-shadow: inherit;
    }
}

.background {
    background-image: url("../images/nackademin_w2560.jpg");
    @include background;
}

#grid_container {
    padding-top: 65px!important;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "aside"
        "main"
        "content1"
        "content2"
        "content3"
        "footer";
}

/* Nested Selectors */
.my_container {
    background-color: white;
    margin: 10px;
    text-align: center;
    p {
        padding: 0 15%;
    }
    ul {
        margin-left: 5%;
        text-align: left;
    }
    img {
        width: 90%;
    }
    h2, h3 {
        background-color: #F7F7F7;
        padding: 10px;
    }
}

#aside {
    grid-area: aside;
}

#main {
    grid-area: main;
}

#content1 {
    grid-area: content1;
}

#content2 {
    grid-area: content2;
}

#content3 {
    grid-area: content3;
}

#footer {
    grid-area: footer;
}

/* Media Queries for Tablet and Desktop */
@media only screen and (min-width:751px) and (max-width: 1080px) {
    #grid_container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "aside aside aside"
        "main main main"
        "content1 content2 content3"
        "footer footer footer";
    }
}

@media only screen and (min-width:1081px) {
    #grid_container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas:         
        "aside main main main"
        "aside content1 content2 content3"
        "footer footer footer footer";
    }
    #footer > section{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0 auto;
        section {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin: 0 auto;
            align-self: bottom!important;
            p {
                padding: 0;
                margin: 0 10px;
                align-self: bottom!important;
            }
            h3 {
                align-self: bottom!important;
            }
        }
    }
}