@import 'variables';
@import 'utilities';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

/* Wrapper Styling */
.wrapper2 {
    position: relative;
    height: 100%;
    width: 100%;
}

.content {
    background-color: transparent;
}

.wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden!important;
}

.wrapper-background {
    position: absolute;
    width: 100%;
    z-index: 0;
}

.wrapper-content {
	position: relative;
	z-index: 1;
	height: 100%;
    width: 100%;
    overflow-x: hidden!important;
}

/* portfolio styling */

.portfolio-container {
    overflow-y: scroll;
    z-index: 1;
    padding-top: 65px!important;
}

nav {
    width: 100vw!important;
    overflow-x: hidden!important;
    z-index: 2!important;
}

/* index.html styling */

img {
    display: block;
    max-width: 75% !important;
    height: auto;
    margin: auto;
}

#landing_container {
    background: rgba(215, 191, 142, 0.65) !important;
}

#profile {
    opacity: 1!important;
}

/* Background Image Styling */

body,
html {
	height: 100%;
    margin: 0;
}

.bg {
    background-image: url("../images/autumn_road_w640.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
    background-attachment: fixed;
    z-index: 0;
}
/* Media Queries for wider devices than mobile */
@media only screen and (min-width: 400px) and (max-width: 1400px) {
    .bg {
      background-image: url('../images/autumn_road_w1400.jpg');
    }
}

@media only screen and (min-width: 1401px) {
    .bg {
      background-image: url('../images/autumn_road_w2057.jpg');
    }
}

body {
    background-color: black;
}

/* Animations */

.zoom {
	transform: scale(1.1);
    animation: zoom 2s;
    animation-fill-mode: forwards;
}

@keyframes zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

.fade-in {
    animation: fadein 1s;
    animation-fill-mode: forwards;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.slow-fade {
    animation: slowfade 1s;
    animation-fill-mode: forwards;
}

@keyframes slowfade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.slow-fade85 {
    animation: slowfade85 1s;
    animation-fill-mode: forwards;
}

@keyframes slowfade85 {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.85;
    }
}
