/* Media Queries */

/* Fist some settings to make fonts a bit responsive */

@include media-breakpoint-up(sm) {
  #p_upcoming {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  #p_upcoming {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  #p_upcoming {
    font-size: 1.6rem;
  }
}

/* First responsive background images */

@media only screen and (min-width: 640px) and (max-width: 1400px) {
  #background_landing {
    background-image: url('../images/autumn_road_w1400.jpg');
    @include background;
    overflow: hidden;
  }
  #background_portfolio {
    background-image: url('../images/autumn_w1400.jpg');
    @include background;
  }
  #background_nackademin {
    background-image: url('../images/nackademin_w1400.jpg');
    @include background;
  }
}

@media only screen and (min-width: 1125px) {
  #background_portfolio_lg {
    background-image: url('../images/autumn_w2400.jpg');
    @include background;
  }
}

@media only screen and (min-width: 1401px) {
  #background_landing {
    background-image: url('../images/autumn_road_w2057.jpg');
    @include background;
    overflow: hidden;
  }
  #background_portfolio {
    background-image: url('../images/autumn_w2400.jpg');
    @include background;
  }
  #background_nackademin {
    background-image: url('../images/nackademin_w2560.jpg');
    @include background;
  }
}

/* Then responsive layouts in 4 steps */

/* Over 400px */

@media only screen and (min-width: 400px) and (max-width: 750px) {
  #aside {
    article {
      flex-direction: row;
      align-items: center;
    }
    img {
      width: 85%;
    }
  }
}

/* Over 750px */

@media only screen and (min-width: 751px) and (max-width: 1080px) {
  #grid_container_about {
    grid-template-columns: 0.5fr 3fr 0.5fr;
    grid-template-areas: '. main .' '. content1 .' 'footer footer footer';
  }
  #grid_container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'aside aside' 'main main' 'project4 project3' 'project2 project1' 'footer footer';
  }
  #grid_container_nackademin {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'aside aside' 'main main' 'content1 content2' 'content3 .' 'footer footer';
  }
  #grid_container_upcoming {
    grid-template-columns: 0.5fr 3fr 0.5fr;
    grid-template-areas: '. navi .' '. main .' 'footer footer footer';
  }
  #aside {
    article {
      flex-direction: row;
      align-items: center;
    }
    img {
      width: 75%;
    }
  }
  #footer > section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    section {
      display: flex;
      flex-direction: row;
    }
  }
}

/* Special for ul of Nackademin page */

@media only screen and (min-width: 751px) and (max-width: 920px) {
  #grid_container_nackademin {
    ul {
      padding-left: 1rem;
    }
  }
}

/* Over 1080px */

@media only screen and (min-width: 1081px) /* and (max-width: 1499px) */ {
  #grid_container_about {
    grid-template-columns: 0.5fr 3fr 0.5fr;
    grid-template-rows: 0.32fr 1fr 0.1fr;
    grid-template-areas: '. main .' '. content1 .' 'footer footer footer';
  }
  #grid_container {
    margin: 0 auto;
    max-width: 1600px;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: 1fr 0.6fr 0.6fr 0.12fr;
    grid-template-areas: 'aside main main main' 'aside project4 project3 project2' 'aside project1 . .' 'footer footer footer footer';
  }
  #grid_container_nackademin {
    margin: 0 auto;
    max-width: 1600px;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: 1fr 0.6fr 0.12fr;
    grid-template-areas: 'aside main main main' '. content1 content2 content3' 'footer footer footer footer';
  }
  #grid_container_upcoming {
    grid-template-columns: 0.5fr 3fr 0.5fr;
    grid-template-areas: '. navi .' '. main .' 'footer footer footer';
  }
  #aside {
    article {
      flex-direction: column;
      align-items: center;
    }
    img {
      width: 50%;
    }
  }
  #footer {
    position: absolute;
    left: 0;
    right: 0;
  }
  #footer > section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    section {
      display: flex;
      flex-direction: row;
    }
  }
}